<h1>Index 02</h1>

<form action="/" method="post">
  <label for="amount">Amount</label>
  <input type="text" name="amount" id="">
  <label for="tax">tax</label>

  <input type="text" name="tax" id="tax">
  <label for="tip">tip</label>
  <input type="text" name="tip" id="tip">
  <label for="num">num</label>
  <input type="text" name="num" id="">
  <input type="submit" value="submit">

  <h1><%= @result %></h1>


</form>